.contact-page{
    width: 100%;
    background-image: url('../../assets/images/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: calc(100vh - 56px);
    height: 800px;
}